<h3> efecto collapse </h3>

<button id="boton"> collapse </button>
<div id="contenedor" style="overflow: hidden">
    <h2> Hola </h2>
</div>

<h2> ///////////////////////////////////////////////// </h2>

<h3> efecto collapse acordion </h3>

<div class="acordion">
    <div class="boton" style="background: #DFEEEB; padding: 1rem; border: 1px solid gray">
        <h2> Haga click aqui </h2>
    </div>
    <div class="texto" style="padding: 0.5rem; border: 1px solid gray">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eius explicabo ducimus, facilis eligendi exercitationem quos unde ut sed tempore illo, modi vero asperiores magni reiciendis aspernatur nulla quod amet.
    </div>
    <div class="boton" style="background: #DFEEEB; padding: 1rem; border: 1px solid gray">
        <h2> Haga click aqui </h2>
    </div>
    <div class="texto" style="padding: 0.5rem; border: 1px solid gray">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eius explicabo ducimus, facilis eligendi exercitationem quos unde ut sed tempore illo, modi vero asperiores magni reiciendis aspernatur nulla quod amet.
    </div>
</div>